@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;700;800;900&family=Rubik+Vinyl&family=Russo+One&display=swap');



*, *::after, *::before{
    margin: 0;
    padding:0;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.pageBody{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,165,222,0.6194852941176471) 80%, rgba(0,212,255,1) 100%);
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

nav{
    padding: 5px 10px;
}

.logo img{
    width: 1.5rem;
    height: 1rem;
}

.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    color: #fff;
}

.navi  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi  ul >li{
    margin: 15px;
    padding: 3px;
    list-style: none;
    cursor: pointer !important;
}

.cart{
    border-radius: 5px;
    height: 2.5rem;
    width: 100px;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 2.5rem;
    transition: 0.5s;
    margin-left: 30px;
    vertical-align: middle;
    padding: 5px;
}

.cart:hover{
    background: rgb(2,0,36);
    background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(26,165,222,0.8155637254901961) 92%, rgba(0,212,255,1) 100%);
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
}

.burg{
    color: #fff;
    display: none;
    cursor: pointer;
}



/*main section*/
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 100%;
    padding: 5rem;
}

.hero .textHero{
    width: 100%;
    align-items: flex-start;
}

.pngHero{
    height: 100%;
    padding: 10px;
    align-items: center;
    display: flex;
}

.overlap{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.overlap1 {
    grid-column: 1 / span 5;
    grid-row: 1; 
    padding-top: 20%;
    z-index: 1;
}

.overlap2{
    grid-column: 15 / -6;
    grid-row: 1;
}

.pngHero img{
    width: 50rem;
    display: block;
    object-fit: contain;
    height: 30rem;
}

.rotate{
	width: 20em;
	height: 20em;
	border-top: 1em solid #f7e99f;
	border-right: 1em solid transparent;
	border-radius: 50%;
	margin: auto;
	animation: spinner 1.5s linear infinite;   /*You can change the speed of the Spinner */
}
.circle{
	width: 1em;
	height: 1em;
	background-color: rgb(233, 231, 115);
	border-radius: 50%;
	margin-left: 15.5rem;
	margin-top: -14.7rem;
}
@keyframes spinner {
	100% {transform: rotate(360deg);}
}



.header{
    height: 5em;
}

.texthero h1{
    font-size: 3em;
    font-weight: 700;
    font-family: 'Hanken Grotesk','Times New Roman', Times, serif;
    color: rgb(0, 186, 233) !important;
}


.textHero > p{
    color: aliceblue;
    font-size: 1rem;
}

.textHero > h4{
    color: rgb(0, 186, 233);
    font-size: 2rem;
}

.order{
    background: #fff;
    border-radius: 5px;
    height: 2.5rem;
    width: 100px;
    color: rgb(0, 186, 233);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 2.5rem;
    transition: 0.5s;
}
.order:hover{
    background: rgb(0, 186, 233);
    color: #fff;
    cursor: pointer;

}
.order > span{
    text-align: center;
    vertical-align: middle;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer > div > div{
    margin-right: 10px;
    transition: 0.5s ease-in-out;
}

.footer > div > div:hover{
    color: blue;
    font-size: 1.5rem;
}


@media only screen and (max-width: 600px){
    .navi>:nth-child(2){
        display: none;
    }

    .hero{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
        padding: 1rem;
    }

    .hero .textHero{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0rem;
    }

    h1{
        font-size: 1.5em;
        font-weight: 700;
        font-family: 'Hanken Grotesk','Times New Roman', Times, serif;
        color: rgb(0, 186, 233) !important;
    }

    .pngHero img{
        width: 20rem;
        display: flex;
        object-fit: contain;
        height: 10rem;
    }

    .order{
        height: 2.5rem;
        width: 100px;
        justify-self: center;
    }

    .header{
        height: 2em;
        margin-bottom: 2rem;
    }

    .textHero > p{
        color: aliceblue;
        font-size: 0.7rem;
    }

    .textHero > h4{
        color: rgb(0, 186, 233);
        font-size: 1rem;
    }

    .order{
        background: #fff;
        border-radius: 5px;
        height: 2rem;
        width: 80px;
        color: rgb(0, 186, 233);
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        line-height: 2rem;
    }

    .overlap2{
        display: none;
    }

    .overlap{
        display: block;
        justify-content: center;
        position: relative;
    }


    .logo img{
        width: 5rem;
        height: 3rem;
    }

    .myLinks{
        display: none;
    }

    .burg{
        display: block;
    }

    .bluw{
        height: 18rem !important;
        width: 18rem !important; 
    }
}


/*second page*/
.second{
    background: rgb(255,255,255);
    background: linear-gradient(100deg, rgba(255,255,255,1) 0%, rgba(26,94,209,0.4962359943977591) 27%, rgba(64,131,244,1) 60%, rgba(116,8,223,1) 100%);
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.bluw{
    height: 40rem;
    width: 45rem;
}

.text2 .header{
    height: 5em;
}

.text2 h1{
    font-size: 3em;
    font-weight: 700;
    font-family: 'Hanken Grotesk','Times New Roman', Times, serif;
    color: rgb(144, 116, 223) !important;
}


.text2 > p{
    color: rgb(30, 34, 37);
    font-size: 1rem;
}

.text2 > h4{
    color: rgb(144, 116, 223);
    font-size: 2rem;
}